.container{
    text-align: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}

input{
    margin: 0.3rem;
    
}
body{
    background-color: rgb(89, 131, 209);
}